
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*
{
    font-family: 'DM Sans';
    font-style: normal;
}

body
{
    position: relative;
    background: linear-gradient(90deg, #E9D7B0 0%, #E9D7B0 47.21%, #EDAEB0 100%);
}

.logo
{
    
    width: 135px;
    height: 170px;
    margin-left: 80px;
    margin-top: 50px;
}

#marca
{
    margin-left: 77px;
    margin-right: 117px;
}
#sobren
{
    margin-left: 117px;
    margin-right:77px;
}
#patroc
{
    margin-right:117px;
}

h3
{
    display: inline-block;
    margin-top: 18px;
    
}
.botones
{
    width: 1043px;
    height: 68px;
    margin-left: 25px;
    margin-top: 53px;


    background: rgba(217, 217, 217, 0.38);
    border-radius: 55px;
    
}


h1
{

    font-weight: 700;
    font-size: 64px;
    line-height: 83px;

    position: relative;
    width: 548px;
    height: 390px;
    margin-left: 50px;
    text-align: left;
}

p
{
    position: relative;
    width: 488px;
    height: 242px;
    margin-left: 50px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.formulario
{
    width: 620px;
    height: 740px;
    left: 630px;
    top: 180px;
    position: absolute;

    background: rgba(217, 217, 217, 0.38);
    border-radius: 55px;
    padding: 1em;
    text-align: center;
    
    
}

.cora
{
    width: 200px;
    height: 176px;
}



input[type="text"], input[type="email"], input[type="number"], input[type="text"]
{
    width: 536px;
    height: 68px;
    background: #FDEEBF;
    border-radius: 55px;
    border-color: #FDEEBF;
    border-style: solid;
    margin-bottom: 24px;
    padding-left: 30px;
    
  }

  #descripcion
  {
    width: 536px;
    height: 104px;
  }

  input[type="check"]
  {
    position: absolute;
    width: 96px;
    height: 71px;
    left: 1013px;
    top: 894px;
  }
.check
{
    width: 76px;
    height: 70px;
}

.contenedor1
{
    display: flex;
    flex-direction: row;
}

.contenedor2
{
    display: flex;
    flex-direction: row;
}
